.landing-name {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
}

.block {
    margin-top: 2%;
    text-align: center;
}

.version-title {
    color: white;
    margin-left: 1%;
}

.versions-block {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    background-color: gray;
    padding: 1.5%;
}

.version-download-link {
    text-decoration: none;
    color: white;
    margin-right: 1%;
    padding-right: 1%;
    padding-left: 1%;
    background-color: green;
}

.version-download-link:hover {
    color: white;
    background-color: rgb(8, 92, 8);
}

.download-latest-block:hover {

}

.download-latest-link {
    margin-top: 2em;
    background-color: darkslategray;
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 150%;
    padding-left: 3%;
    padding-right: 3%;
}

.download-latest-link:hover {
    color: white;
    text-decoration: none;
    font-size: 170%;
    padding: 1.2%;
    padding-left: 3.2%;
    padding-right: 3.2%;
    /* -webkit-box-shadow: 4px 1px 8px 26px rgba(34, 60, 80, 0.38);
    -moz-box-shadow: 4px 1px 8px 26px rgba(34, 60, 80, 0.38); */
    box-shadow: 0px 0px 10px 10px rgb(112, 112, 112, 0.5);
}
