body {
    background-color: #212529;
}

a {
    color: white;
}

a:hover {
    color: gray
}

.block {
    color: white;
    font-size: 150%;
}

.block-title {
    margin-left: 1%;
    font-size: 200%;
}

.first-block {
    margin-top: 5%;
    display: flex;
    padding: 1em;
    background-color: rgba(248, 249, 250);
    color: black;
}

@media screen and (max-width: 800px){
    .first-block{
        margin-top: 15%;
        flex-direction: column;
    }
    .avatar {
        margin: 0 20% !important;
        width: 60% !important;
    }

    .contacts {
        flex-direction: column;
        justify-content: none;
    }

    .contact {
        margin: 0 0 !important;
    }
}

.block-el {
    margin-left: 1%;
    margin-right: 1%;
}

.avatar {
    height: auto;
    width: 30%;
}

.nickname-about {
    display: flex;
    flex-direction: column;
}

.nickname {
    font-size: 400%;
}

.about {
    font-size: 240%;
}

.skills {
    font-size: 150%;
}

.projects-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border-width: 4px;
    border-color: gray;
    border-style: solid;
}

.project-link-stars {
    display: flex;
    justify-content: space-between;
}

.project-link {
    color: white;
    font-size: 150%;
}

.project-stars-count {
    font-size: 120%;
}

.bi-star {
    display: inline-block;
}

.info-button {

}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none;
}

.hide + .info-button ~ .info-content {
    display: none;
}

.hide + .info-button {
    border-bottom: 1px dotted;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.info-button:hover   {
    color: gray;
}

.hide:checked + .info-button {
    border-bottom: 0;
}

.hide:checked + .info-button + .info-content {
    display: block;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 150%;
}

.contact {
    margin: 0 20%;
}
